@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {

  /* Headline 1 */
  .headline-1 {
    @apply font-helvetica-now-display font-medium uppercase text-[34px] leading-[32px] md:text-[100px] md:leading-[88px] !tracking-[0.03em] 2xl:text-[120px] 2xl:leading-[100px];
  }

  /* Headline 2 */
  .headline-2 {
    @apply font-roboto-mono md:font-helvetica-now-display font-medium uppercase md:text-[44px] md:leading-[42px] text-[22px] leading-[22px] tracking-[0.03em] 2xl:text-[60px] 2xl:leading-[60px];

    /* Specify font family */
  }

  /* Headline 3 */
  .headline-3 {
    @apply font-helvetica-now-display font-medium text-[28px] leading-[34px] md:text-[44px] md:leading-[45px] tracking-[0.02em] md:tracking-[0.01em] 2xl:text-[60px] 2xl:leading-[60px];
  }

  /* Headline 4 */
  .headline-4 {
    @apply font-roboto-mono font-medium uppercase tracking-[0.03em] md:text-[22px] leading-[18px] md:leading-6 text-[16px];

    /* Specify font family */
  }

  /* Running text (Large) */
  .running-text-large {
    @apply font-helvetica-now-display font-medium text-[28px] leading-[34px] tracking-[0.02em];
  }

  /* Running text */
  .running-text {
    @apply font-helvetica-now-display font-medium text-[16px] leading-5 tracking-[0.02em] md:text-[17px] md:leading-6 md:tracking-[0.01em];
  }

  /* Running text (Small) */
  .running-text-small {
    @apply font-helvetica-now-display font-medium text-[15px] leading-5 tracking-[0.01em];
  }

  /* Running text (Mono) */
  .running-text-mono {
    @apply font-roboto-mono font-medium text-sm leading-4 tracking-[0.02em];
  }

  .description {
    @apply font-roboto-mono font-medium text-[12px] leading-[14px] tracking-[0.02em] 2xl:text-[20px] 2xl:leading-7 2xl:tracking-[0.02em];
  }

  .ease-animate {
    @apply !transition-all !duration-300 !ease-in-out active:duration-100 hover:duration-200;
  }

  .outer-ring {
    @apply w-[120px] h-[120px] border-[3px] border-gray3 rounded-full;
  }

  .inner-ring {
    @apply w-[120px] h-[120px] border-[3px] border-[#D9D9D9] rounded-full animate-spin-progress;
    border-top-color: transparent;
    border-right-color: transparent;
  }

  @keyframes spin-progress {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-progress {
    animation: spin-progress 2s linear infinite;
  }
}

.dm-mono {
  font-family: "DM Mono", monospace;
}

.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
}

/* styles.css */
.squircle {

  clip-path: path('M0.5,0 C0.776,0 1,0.224 1,0.5 C1,0.776 0.776,1 0.5,1 C0.224,1 0,0.776 0,0.5 C0,0.224 0.224,0 0.5,0 Z');
}

.bg-blur {
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  background-color: rgba(209, 207, 207, 0.082);
}

.bg-blur-1 {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(209, 207, 207, 0.014);
}

.bg-blur-2 {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(209, 207, 207, 0.068);
}

.bg-blur-drawer {
  backdrop-filter: blur(64px);
  -webkit-backdrop-filter: blur(64px);
  background-color: rgba(10, 10, 33, 0.75);
}

.bg-blur-shadow {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(10, 10, 33, 0.75);
}

.bg-blur-bottom-menu {
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  background-color: #0a0a2166;
}

.blur-shadow {
  box-shadow: 0px 0px 60px 0px rgba(110, 109, 255, 0.149);
}

.menu-shadow {
  box-shadow: 0px 4px 44px 0px #0a0a211a;
}

.tooltip {
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  box-shadow: 0px 0px 20px 0px #0a0a2129;
  background: #ffffff1a;
  border-radius: 16px;
  padding: 10px 12px 11px 12px;
}

.rtl-gradient {
  background: linear-gradient(90deg,
      rgba(10, 10, 33, 0) 0%,
      rgba(10, 10, 33, 0.5) 40.5%,
      #0a0a21 80.5%);
}

.ltr-gradient {
  background: linear-gradient(270deg,
      rgba(10, 10, 33, 0) 0%,
      rgba(10, 10, 33, 0.5) 40.5%,
      #0a0a21 80.5%);
}

.icon-glow {
  filter: drop-shadow(0px -4px 54px #ffffff40);
  /* box-shadow: 0px -4px 54px 0px #FFFFFF40; */
}

.bg-gradient {
  background-image: url("../public/images/bg.png");
  background-size: cover;
  background-position: center;
}

/* hide scrollbar */

/* width */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

/* Track */
.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

/* styles.css */

/* styles.css */

.stepper.step::before {
  content: "";
  position: absolute;
  top: 50%;
  /* Adjust based on your circle size */
  left: 50%;
  /* Adjust based on your circle size */
  width: 1px;
  /* Thickness of the line */
  height: 50%;
  /* Height of the line */
  background-color: white;
  /* Color of the line */
  transform: translate(-50%, -50%);
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.translate-up {
  display: inline-block;
  /* Ensure the transform affects the inline element */

  /* Adjust the -3px value as needed */
}